body {
    margin: 0;
}

.container {
    margin: 0;
    background-color: #99E4FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 24px;
    margin: 24px;
}